{% set serviceName = headerServiceName or "Manage cases" %}

<header class="app-cps-header app-cps-header--variation" role="banner">
  <div class="govuk-width-container app-cps-header__container">
    <a class="app-cps-header__brand" href="/">
      <span class="app-cps-header__organisation">CPS</span>
      <span class="app-cps-header__service-name">{{ serviceName }}</span>
    </a>
    <a class="app-cps-header__accessability" href="/accessability">Accessibility settings</a>
  </div>
</header>
