//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

@import "node_modules/@ministryofjustice/frontend/moj/all";

// Add extra styles here

.app-cps-header {
  background: govuk-colour("blue");
  color: govuk-colour("white");
}

.app-cps-header__container {
  padding-top: govuk-spacing(3);
  padding-bottom: govuk-spacing(3);
}

.app-cps-header__brand {
  margin: 0;
}

.app-cps-header__organisation,
.app-cps-header__service-name {
  display: inline-block;
  color: govuk-colour("white");
  font-family: $govuk-font-family;
  font-size: 24px;
  line-height: 1.25;
}

.app-cps-header__organisation {
  font-weight: $govuk-font-weight-bold;
  margin-right: govuk-spacing(2);
}

.app-cps-header__service-name {
  font-weight: $govuk-font-weight-regular;
}

.app-primary-navigation {
  border-bottom: 1px solid $govuk-border-colour;
}

.app-primary-navigation .govuk-service-navigation__service-name {
  display: none;
}

.app-primary-navigation .govuk-width-container {
  max-width: 1400px;
}

.app-case-context {
  border-bottom: 1px solid $govuk-border-colour;
  padding-top: govuk-spacing(4);
  padding-bottom: govuk-spacing(3);
}

.app-case-context .govuk-width-container,
.app-case-navigation .govuk-width-container {
  max-width: 1400px;
}

.app-case-context__reference {
  margin-bottom: govuk-spacing(1);
}

.app-case-context__title {
  margin-bottom: 0;
}

.app-case-navigation {
  border-bottom: 1px solid $govuk-border-colour;
}

.app-case-navigation__list {
  margin-bottom: 0;
  border-bottom: 0;
}

.app-case-navigation .govuk-tabs__list-item {
  margin-bottom: 0;
}

.app-case-navigation .govuk-tabs__tab {
  text-decoration: none;
}

.app-case-navigation .govuk-tabs__tab[aria-current="page"] {
  font-weight: $govuk-font-weight-bold;
}
