{% extends "layoutCPS-ACCESSABILITY.html" %}
{% set pageName = "Accessibility settings" %}
{% set headerServiceName = "Manage cases" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l" style="margin-top:25px">Accessibility settings</h1>
  <p class="govuk-body">Use this page to control accessibility settings.</p>

   <!-- <h2 class="govuk-heading-m" >Accessibility statement</h2> -->
   <p class="govuk-body"><a href="#">View the  accessibility statement (opens in new window)</a></p>

  {{ govukRadios({
    name: "accessability-control",
    fieldset: {
      legend: {
        text: "Show the URN at the beginning of the tab name",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "yes",
        text: "Yes"
      },
      {
        value: "no",
        text: "No"
      }
    ]
  }) }}

  {{ govukButton({
    text: "Continue",
    classes: "app-button--green"
  }) }}
{% endblock %}
