{% extends "layoutCPS-ACCESSABILITY.html" %}
{% set pageName = "Settings saved" %}
{% set headerServiceName = "Manage cases" %}
{% set pageMainClasses = "govuk-!-static-padding-top-7" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
         <div style="margin-top:40px"></div>
      {# text: "Your changes have been saved" #}
      {{ govukPanel({
        titleText: "Your settings have been updated"
      }) }}

      {#
      <h2 class="govuk-heading-m">Next steps</h2>
      <p class="govuk-body">You can:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="/FCT-v1/2-cps-user-journey/E-case-overview">return to your task</a></li>
        <li><a class="govuk-link" href="/">go to the homepage</a></li>
        <li><a class="govuk-link" href="/accessability">make another change to your settings</a></li>
      </ul>
      #}
    </div>
  </div>
{% endblock %}
