{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Global navigation prototype
    </h1>

    <p class="govuk-body-l">Choose a version to open.</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-link" href="/FCT-v1/2-cps-user-journey/E-case-overview">Reference version</a>
        <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-3">Case info sits above the secondary navigation and does not include tags or custody time limit.</p>
      </li>
      <li>
        <a class="govuk-link" href="/FCT-v1/2-cps-user-journey/E-case-overview-variation">Variation version</a>
        <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-3">Moves the case info below the secondary navigation and adds tags plus custody time limit.</p>
      </li>
      <li>
        <a class="govuk-link" href="/FCT-v1/2-cps-user-journey/E-case-overview-variation-2">Variation 2</a>
        <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-3">Splits the case info bar, with the case name above the secondary navigation and the tags plus custody time limit below.</p>
      </li>
      <li>
        <a class="govuk-link" href="/FCT-v1/2-cps-user-journey/E-case-overview-variation-3">Variation 3</a>
        <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-3">Moves the case info back above the secondary navigation, keeping the tags and custody time limit.</p>
      </li>
    </ul>
  </div>
</div>

{% endblock %}
